<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ECS - Emergency
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="geolocation.getCurrentLocation()">Enable Geolocation</ion-button>

  <h2>Caricamento coordinate...</h2>

  <iframe
    [src]='"https://www.openstreetmap.org/export/embed.html?bbox="+this.fcm.mapPosition.longitude+","+this.fcm.mapPosition.latitude+","+this.fcm.mapPosition.mapRadius[1]+","+this.fcm.mapPosition.mapRadius[0]+"&layer=mapnik&marker="+this.fcm.mapPosition.latitude+","+this.fcm.mapPosition.longitude+"" | safe'
    style="border: 1px solid black"></iframe>
  <br>
  <small>
    <a href="https://www.openstreetmap.org/?mlat=40.89530&amp;mlon=14.34783#map=17/40.89530/14.34783">Visualizza mappa ingrandita</a>
  </small>

  <ion-button (click)="fcm.registerPushNotifications()">Register</ion-button>
  <ion-button (click)="fcm.unregisterPushNotification()">Unregister</ion-button>
  <ion-button (click)="fcm.getDeliveredNotifications()">Notification</ion-button>

  <ion-button (click)="fcm.sendNotification()">Send</ion-button>

</ion-content>
