<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="geolocation.getCurrentLocation()">Enable Geolocation</ion-button>

  <h2></h2>

  <ion-button (click)="fcm.registerPushNotifications()">Register</ion-button>
  <ion-button (click)="fcm.unregisterPushNotification()">Unregister</ion-button>
  <ion-button (click)="fcm.getDeliveredNotifications()">Notification</ion-button>

  <ion-button (click)="fcm.sendNotification()">Send</ion-button>

</ion-content>
